.img-size { 
width: 60%;  
}

body {
    color: #60666B;
    font-family: "andale mono";
}

.white-background {
	background-color: white;
}

.heading-color {
	color: #2D878A;
}	

.color-black{
	color: black;
}

.img-circle {
    border-radius: 100%;
    border: 2px;
}    

.nome {
	font-size:21;
	color: black;
}	
.stars {
    float: right;
    display: inline-block;
}

.test {
  
    display: inline-block;

}

.row {
    margin-top: 10px;
}

.quote {
    font-size: 20px;
    font-family: "andale mono";
}

.rcorners2 {
    border-radius: 7px;
    border: 1px solid #838B91;
      
}

.all-content{
    border-radius: 7px;
    border: 1px solid #838B91;
    background-color: white;
    padding: 5px;
  }  

.bold{
    font-weight: 600;
    font-size:15;
}


.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: white;
}

.information{
    height: 90vh;
    overflow: scroll;
}    

.photoquadro {
    max-width: 100%   
} 



.seta {
    width: 10px;
    lenght: 10px; 
 }   



.perfil{ 
 webkit-filter: none;
   moz-filter: none;
   -ms-filter: none;
   filter: none;
}


.thumb1 { 
background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
width: 250px;
height: 250px;
}

.titles30 {
    font-size: 30;
}    

.indice {
    color: black;
}
.novo {
  font-size: 20;
 } 

.novo2 {
  font-size: 25;
 } 

 .novo1 {
  font-size: 35;
 }
 .novo3 {
  font-size: 15;
 }
 .novo4 {
  font-size: 10
 }